body {
    padding: 0;
    margin: 0;
}

/* Header styles */
header {
    padding: 15px 0 15px 0;
    color: black;
    text-align: center;
    /* Created with https://www.css-gradient.com */
    background: #52BD95;
    background: -webkit-linear-gradient(bottom, #52BD95, #F8F8F8);
    background: -moz-linear-gradient(bottom, #52BD95, #F8F8F8);
    background: linear-gradient(to top, #52BD95, #F8F8F8);
}

header h1 {
    font-weight: bold;
    font-size: 2em;
}

p {
    color: black;
    /* text-align: center */
}

.input {
    margin-top: 10px;
    
}

/* Anime container styles */
.container {
    /* border: 1px solid black; */
    /* margin-top: 20px; */
}

.anime-box {
    /* display: inline-block; */
    margin: 40px 50px 30px -5px;
    /* vertical-align: middle; */
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
}


.left-box {
    border: 1px solid gainsboro;
    border-radius: 16px;
    /* background-color: gainsboro; */
    /* width: 300px;
    height: 500px; */
}

.left-col .notification {
    margin-bottom: 24px;
    /* border: 1px solid red; */
}

.right-box {
    border: 1px solid gainsboro;
    border-radius: 16px;
    /* width: 500px;
    height: 500px; */
}

/* Premade & Bulma CSS styles */
    .tutorial {
        width: 600px;
        text-align: center;
        margin: auto;
    }
    
    figure .image {
        display: flex;
        /* justify-content: center; */
        margin-top: -20px;
        background-color: white;
    }
    
    figure .image img {
        width: 150px;
    }

    
    .notification {
        margin-top: 20px !important;
    }
    
    .title .icon {
        margin-left: 15px;
    }
    
    .hero {
        margin-bottom: 20px;
    }
    
    .forms {
        display: flex;
        justify-content: space-around;
    }

    .results {
        max-height: 600px;
        max-width: 600px;
        overflow-y: scroll;
    }
    
    .dropdown-item {
        display: flex;
        align-items: center;
        height: 150px;
        margin-right: 60px;
        margin-bottom: 20px;
        margin-top: 20px;
        /* background-color: red; */
    }
    
    .dropdown-item img {
        height: 150px;
        width: 150px;
        padding-top: 0;
        margin-right: 10px;
    }
    