body {
    padding: 0;
    margin: 0;
}

/* Header styles */
header {
    padding: 15px 0 15px 0;
    color: black;
    text-align: center;
    background: #C6EEE5;
    background: -webkit-linear-gradient(right, #C6EEE5, #1AA975);
    background: -moz-linear-gradient(right, #C6EEE5, #1AA975);
    background: linear-gradient(to left, #C6EEE5, #1AA975);
    }

header h1 {
    font-weight: bold;
    font-size: 2em;
}

p {
    color: black;
    /* text-align: center */
}

.input {
    margin-top: 10px;
}

input:focus {
    outline: none !important;
    border-color: gainsboro;
    box-shadow: 0 0 10px gainsboro;
}

textarea:focus { 
    outline: none !important;
    border-color: gainsboro;
    box-shadow: 0 0 10px gainsboro;
}


/* Anime container styles */
.container {
    /* border: 1px solid black; */
    /* margin-top: 20px; */
}

.anime-box {
    margin: 40px 50px 30px -5px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
}


.left-box {
    border: 1px solid gainsboro;
    border-radius: 16px;
}

.left-col .notification {
    margin-bottom: 24px;
}

.columns {
    padding-left: 0;
    padding-right: 0;
}

.right-box {
    border: 1px solid gainsboro;
    border-radius: 16px;
}

/* Premade & Bulma CSS styles */
    .tutorial {
        width: 500px;
        text-align: center;
        margin: auto;
    }
    
    figure .image {
        display: flex;
        /* justify-content: center; */
        margin-top: -20px;
        background-color: white;
    }
    
    figure .image img {
        width: 150px;
    }

    
    .notification {
        margin-top: 20px !important;
    }
    
    .title .icon {
        margin-left: 15px;
    }
    
    .hero {
        margin-bottom: 20px;
    }
    
    .forms {
        display: flex;
        justify-content: space-around;
    }

    .results {
        max-height: 600px;
        max-width: 600px;
        overflow-y: scroll;
    }
    
    .dropdown-item {
        display: flex;
        align-items: center;
        height: 150px;
        margin-right: 60px;
        margin-bottom: 20px;
        margin-top: 20px;
        /* background-color: red; */
    }
    
    .dropdown-item img {
        height: 150px;
        width: 150px;
        padding-top: 0;
        margin-right: 10px;
    }
    